<app-navigation></app-navigation>




  <section class="jumbotron">
    
    <div class="container">
      <h1 class="jumbotron-heading">Music Now</h1>
      <p class="lead text-muted">Agilidade para você encontrar a sua música preferida...</p>
    </div><br>
    <div class="container-fluid">
      <form [formGroup]="dadosForm">
        <div class="row">
        <input id="cantor" class="form-control mr-sm-3 col-2 " formControlName="nomeCantor" type="search" placeholder="Cantor" aria-label="Cantor">
        <input id="musica" class="form-control mr-sm-3 col-2" type="search" formControlName="nomeMusica" placeholder="Musica" aria-label="Musica">	
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#letra" (click)="buscar(controls)">Buscar</button>
        <p id="letra" class="text-white">
        </div>
        <p id="erro" class="text-muted">{{erro}}</p>
        </form>
      </div>	
      <div class="jumbotron">
        <div class="card" style="width: 18rem;">
          <div></div>
          <div class="card-body" *ngFor="let dados of musica">
            <h5 class="card-title">{{dados.musica}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{dados.artista}}</h6>
            <p class="card-text">{{dados.letra}}</p>
            <a href="#" class="btn btn-primary" (click)="visitar()">Visitar</a>&nbsp;
            <a href="#" class="btn btn-primary" (click)="limpar()">Limpar</a>
          </div>
          
        </div>
      </div>
     
  </section>
  <app-footer></app-footer>

  